{% extends 'layout.html' %}

{% block title %} 
    {{ super() }}Contact
{% endblock %}

{% set active_page = "main.contact" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/contact.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% endblock%}

{%  block content  %}
<div class="jumbotron">
    <div class="container text-center">
      <h1 style="font-weight: 1000;"><b>CONTACT</b></h1> 
      <p>"Call me, bleep me, if you want to reach me" - Kim Possible</p>
    </div>
</div>

<div class="container text-center">
    <div class="content">
      <p>Feel free to reach me my email or professional profiles listed below.</p>
      <hr>
      <div class="text-center"><a href="mailto: btnewman7@gmail.com"><button type="button" class="btn btn-outline-info">EMAIL</button></a></div>
      <div class="text-center"><a href="https://github.com/btnewman7"><button type="button" class="btn btn-outline-info">GITHUB</button></a></div>
      <div class="text-center"><a href="https://www.linkedin.com/in/bennewm/"><button type="button" class="btn btn-outline-info">LINKEDIN</button></a></div>
      <br>
    </div>
</div>
{%  endblock  %}