* {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
    float: left;
    width:  150%;
    height: 300px;
    object-fit: cover;
}

.btn {
    margin-top: 10px; 
}

h5 {
    color: rgb(48, 175, 197);
}

#description {
    font-size: small;
}